# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambientes
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
build/
dist/
.next/
nuxt/
out/

# Mobile
mobile/.expo/
mobile/.expo-shared/
*.apk
*.aab

# Server
server/.supabase/

# Sistema
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Banco de dados
*.db
*.db-journal

# Arquivos temporários do Windows
$RECYCLE.BIN/
desktop.ini